<footer class="footer-main-container">
  <div class="footer-width-controller">
    <img
      class="footer-tecnoair-logo"
      src="assets/images/logos/logo-tecno-air-cold-logo.webp"
      alt="Logo de TECNOAIRCOLD"
    />
    <div class="separator first-separator"></div>
    <div class="footer-contact-info">
      <div class="contact-data-line">
        <img
          src="assets/images/icons/icon-location.svg"
          alt="Icono de ubicación"
        />
        <span>San José, Costa Rica</span>
      </div>
      <div class="contact-data-line">
        <img src="assets/images/icons/icon-phone.svg" alt="Icono de teléfono" />
        <span>+506 7028 4529</span>
      </div>
      <div class="contact-data-line">
        <img src="assets/images/icons/icon-gmail.svg" alt="Icono de correo" />
        <a href="mailto:info@tecnoaircold.com">info&#64;tecnoaircold.com</a>
      </div>
    </div>
    <div class="separator second-separator"></div>
    <div class="footer-social-media">
      <div>
        <span>Síguenos en redes:</span>
        <div class="social-icons">
          <a
            href="https://www.facebook.com/share/198QXayPmT/?mibextid=qi2Omg"
            target="_blank"
            aria-label="Facebook"
            ><img
              src="assets/images/icons/icon-facebook.svg"
              alt="Enlace a Facebook"
          /></a>
          <a
            href="https://www.instagram.com/tecnoaircold?igsh=MTNsZXoxcnJhaTQwNw=="
            target="_blank"
            aria-label="Instagram"
            ><img
              src="assets/images/icons/icon-instagram.svg"
              alt="Enlace a Instagram"
          /></a>
          <a
            href="https://web.whatsapp.com/send?phone={{ tecnoAirColdNumber }}"
            target="_blank"
            aria-label="WhatsApp"
            ><img
              src="assets/images/icons/icon-whatsapp.svg"
              alt="Enlace a WhatsApp"
          /></a>
        </div>
      </div>
      <div class="footer-details">
        <p>
          © 2025 | TecnoAir Cold Solutions | Todos los derechos reservados |
          Powered by
          <a href="https://www.tavuel.com" target="_blank"
            >Tavuel
            <img
              class="footer-power-by-logo"
              src="assets/images/logos/logo-tavuel.svg"
              alt="logo tavuel"
          /></a>
        </p>
      </div>
    </div>
  </div>
</footer>
