<nav class="navbar">
  <div class="logo">
    <a href="#inicio">
      <img
        src="assets/images/logos/logo-tecno-air-cold-logo.svg"
        alt="Logo de TECNOAIRCOLD"
      />
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="#inicio">Inicio</a></li>
    <li><a href="#servicios">Servicios</a></li>
    <li><a href="#resenas">Reseñas</a></li>
    <li><a href="#experiencia">Experiencia</a></li>
    <li><a href="#equipo">Equipo</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>
</nav>
