<div class="service-card-container">
  <img class="service-card-img" [src]="imgUrl" alt="Imagen del servicio" />
  <div class="service-card-data">
    <img
      class="service-card-printer-clip"
      src="assets/images/icons/icon-printer.svg"
      alt="Icono de clip"
    />
    <h2>{{ cardTitle }}</h2>
    <p>{{ cardDescription }}</p>
    <img
      class="service-card-bottom-decoration"
      src="assets/images/img-triangle-rectangle-white.svg"
      alt="Decorado de tarjeta"
    />
  </div>
</div>
