@use "styles/variables" as *;
@use "styles/mixins" as *;

#experiencia {
  background-color: $dark-blue;
  width: 100%;
  color: white;
  padding: 52px 32px;

  @include respond(md) {
    padding: 85px 75px;
  }
}
.experience-section-title {
  margin: 0px;
  text-transform: uppercase;
  span {
    color: $sky-blue;
  }
}
.experience-section-details-intro {
  padding-bottom: 16px;
  p {
    font-family: $font-nunito;
    font-size: 1.2rem;
  }

  @include respond(md) {
    padding-bottom: 32px;
    p {
      font-size: 1rem;
    }
  }
}

.experience-cards-container {
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 23px;

  @include respond(md) {
    padding: 0px 64px;
  }
  @include respond(xl) {
    padding-right: 54px;
    flex-direction: row;
    gap: 54px;
  }
}
.experience-images-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  padding: 16px 0px;

  @include respond(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    padding: 120px 0px 54px 32px;
    height: 100%;
  }
}
.experience-image {
  width: 100%;
  height: 160px;
  object-fit: cover;

  @include respond(sm) {
    flex-grow: 1;
  }
  @include respond(lg) {
    min-height: 100%;
  }
}
.experience-image-1 {
  border-radius: 40px 40px 40px 0px;

  @include respond(lg) {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    border: 2px dashed violet
  }
}
.experience-image-2 {
  border-radius: 10px;
  height: 100px !important;

  @include respond(lg) {
    grid-column-start: 2;
    grid-row-start: 3;
    border: 2px dashed violet
  }
}
.experience-image-3 {
  border-radius: 40px 0px 40px 40px;

  @include respond(lg) {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    border: 2px dashed violet
  }
}

.experience-section-details-panel {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: auto auto;
  gap: 4px;

  @include respond(lg) {
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: auto auto;
    max-width: $max-section-width;
    margin: auto;
  }
}
.item1 {
  grid-column: span 2 / span 2;
  border: 2px solid red;

  @include respond(xl) {
    grid-column: auto;
  }
}
.item2 {
  grid-row-start: 2;
  border: 2px solid green;

  @include respond(xl) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
.item3 {
  grid-row-start: 2;
  border: 2px solid blue;

  @include respond(xl) {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }
}
