<swiper-container
  #swiperContainer
  effect="fade"
  autoplay='{"delay": 4000, "disableOnInteraction": false}'
  loop="true"
  speed="800"
  class="home-background-carousel"
>
  <swiper-slide>
    <img src="assets/images/img-home-background-a.webp" alt="Imagen 1" />
  </swiper-slide>
  <swiper-slide>
    <img src="assets/images/img-home-background-b.webp" alt="Imagen 2" />
  </swiper-slide>
  <swiper-slide>
    <img src="assets/images/img-home-background-c.webp" alt="Imagen 3" />
  </swiper-slide>
</swiper-container>
