@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.star-rating-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    
    img {
        height: 15px;
        object-fit: contain;
    }

    @include respond(md) {
        img {
            height: 19px;
            object-fit: contain;
        }
    }
}
