<section id="inicio" class="scroll-targetable-section">
  <img
    id="home-background"
    src="assets/images/img-home-background-a.webp"
    alt="Fondo"
  />
  <div class="home-background-carousel-container">
    <app-home-background-carousel></app-home-background-carousel>
  </div>
  <div id="info-container">
    <img
      src="assets/images/img-flatted-rectangle.svg"
      alt="Fondo de contenedor"
    />
    <h1>Tecno<span id="black-word">air</span>cold Solution</h1>
    <p>
      Aires acondicionados con tecnología y precisión. Instalación,
      mantenimiento y asesoría profesional en cada proyecto.
    </p>
    <button (click)="onButtonPressed()">¡Cotiza ahora!</button>
  </div>
</section>
