<section id="servicios" class="scroll-targetable-section">
  <img
    src="assets/images/img-triangle-rectangle-dark-blue.svg"
    loading="lazy"
    alt="Decorado de Servicios"
  />
  <div class="services-data-container">
    <h1>Servicios</h1>
    <p>
      Ofrecemos soluciones de climatización especializadas para distintos
      entornos: industrial, comercial y residencial. Nos enfocamos en brindar
      confort, eficiencia y tecnología adaptada a las necesidades de cada
      espacio.
    </p>
    <br />
    <br />
    <app-carousel />
  </div>
</section>
