<div
  class="project-card-container"
  [class.expanded]="isExpanded"
  (click)="handleProjectCardClick()"
>
  <swiper-container
    #projectImagesSwiperContainer
    class="project-card-swiper-container"
    slides-per-view="auto"
    autoplay='{"delay": 3000}'
    speed="400"
    loop="true"
    effect="fade"
  >
    <swiper-slide *ngFor="let imageSrc of imageSrcs">
      <img class="project-image" [src]="imageSrc" alt="Imagen de Proyecto" />
    </swiper-slide>
  </swiper-container>
  <h4 class="projec-location-title">{{ titleH4 }}</h4>
  <h2 class="client-title">{{ titleH2 }}</h2>
  <p class="project-description expanded" [class.expanded]="isExpanded">
    {{ description }}
  </p>
</div>
