@use 'styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $font-raleway;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.scroll-targetable-section {
  scroll-margin-top: 120px;
}
