@use 'styles/variables' as *;
@use 'styles/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $font-raleway;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}
h2 {
  font-size: 1.5rem;
  font-weight: 800;
}
h3 {
  font-size: 1.17rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
}
h5 {
  font-size: 0.83rem;
  font-weight: 500;
}
h6 {
  font-size: 0.67rem;
  font-weight: 400;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 10px;
  
  @include respond(sx) {
    font-size: 12px;
  }
  @include respond(sm) {
    font-size: 14px;
  }
  @include respond(md) {
    font-size: 16px;
  }
  @include respond(lg) {
    font-size: 18px;
  }
  @include respond(xl) {
    font-size: 20px;
  }
  @include respond(2xl) {
    font-size: 24px;
  }
}

.scroll-targetable-section {
  scroll-margin-top: 66px;
  @include respond(sm) {
    scroll-margin-top: 100px;    
  }
}
