@use "styles/variables.scss" as *;
@use "styles/mixins.scss" as *;

#equipo {
  background-color: $sky;
  position: relative;
  padding: 39px 15px;
  width: 100%;

  @include respond(md) {
    padding-bottom: 124px;
  }
  @include respond(lg) {
    padding: 54px 96px 86px 96px;
  }
  @include respond(xl) {
    padding: 54px 124px 86px 124px;
  }
}

.team-main-container {
  width: 100%;
  height: fit-content;
  max-width: $max-section-width;
  margin: auto;
}

.team-section-intro {
  color: $dark-blue;
}

.team-section-title {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  span {
    color: white;
  }
}
.team-section-description {
  text-align: center;
  font-family: $font-nunito;
  font-size: 1.2rem;

  span {
    font-weight: 700;
    font-family: $font-nunito;
  }

  @include respond(md) {
    font-size: 1rem;
    padding: 0px 48px;
  }

  @include respond(lg) {
    padding: 0px 96px;
  }
}
.team-section-workers-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  app-team-worker-card {
    flex: 0 0 100%;
    max-width: 240px;
  }
}

@include respond(md) {
  .row-desktop-1 app-team-worker-card {
    flex: 0 0 calc(50% - 8px);
    max-width: 240px;
  }
  .row-desktop-2 app-team-worker-card {
    flex: 0 0 calc(33.333% - 10.66px);
    max-width: 240px;
  }
}

@include respond(sm) {
  .row-mobile-1 app-team-worker-card {
    flex: 0 0 100%;
    max-width: 240px;
  }
  .row-mobile-2 app-team-worker-card:nth-child(1),
  .row-mobile-2 app-team-worker-card:nth-child(2),
  .row-mobile-2 app-team-worker-card:nth-child(3),
  .row-mobile-2 app-team-worker-card:nth-child(4) {
    flex: 0 0 calc(50% - 8px);
    max-width: 240px;
  }
}

.team-section-decorator {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  position: absolute;
  transform: translate(0px, 100%);
  bottom: 2px;
  left: 0px;
}
