@use "styles/variables.scss" as *;
@use "styles/mixins.scss" as *;

#equipo {
  background-color: $sky;
  position: relative;
  padding: 39px 15px;
  width: 100%;

  @include respond(lg) {
    padding: 54px 124px;
  }
}

.team-main-container {
  width: 100%;
  height: fit-content;
  max-width: $max-section-width;
  margin: auto;
}

.team-section-intro {
  color: $dark-blue;
}

.team-section-title {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  span {
    color: white;
  }
}
.team-section-description {
  text-align: center;
  font-family: $font-nunito;
  font-size: 1.2rem;

  span {
    font-weight: 700;
  }

  @include respond(md) {
    font-size: 1rem;
  }

  @include respond(lg) {
    padding: 0px 96px;
  }
}
.team-section-workers-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 16px;
  padding: 0px 48px;
  max-width: 100%;

  @include respond(xs) {
    padding: 0px 72px;
  }

  @include respond(sm) {
    padding: 0px 116px;
  }
  @include respond(md) {
    padding: 0px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
  @include respond(xl) {
    gap: 100px;
  }
  @include respond(2xl) {
    padding: 0px 86px;
  }
}

.team-section-decorator {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  position: absolute;
  transform: translate(0px, 100%);
  bottom: 2px;
  left: 0px;
}
