<section id="equipo" class="scroll-targetable-section">
  <div class="team-main-container">
    <div class="team-section-intro">
      <h1 class="team-section-title">Nuestro <span>Equipo</span></h1>
      <p class="team-section-description">
        El equipo de <span>TECNOAIRCOLD SOLUTIONS</span> se conforma de técnicos
        especializados en instalación de aires acondicionados. Se dedica a
        ofrecer soluciones eficientes y de alta calidad. Con amplia experiencia
        y compromiso, garantizando un servicio profesional y personalizado para
        cada cliente.
      </p>
    </div>
    <div class="team-section-workers-container">
      <app-team-worker-card
        workerName="heiner vásquez"
        roleName="Gerente y técnico en aire acondicionado"
        roleDescription="Especializado en sistemas VRF, VRV y ducterías. Supervisa proyectos y coordina al equipo para garantizar instalaciones eficientes y seguras."
        workerImageUrl="assets/images/img-employee-heiner-vasquez.webp"
      />
      <app-team-worker-card
        workerName="jonathan paysano"
        roleName="Técnico en refrigeración"
        roleDescription="Realiza instalaciones completas de equipos y ductos, asegurando un funcionamiento eficiente y conforme a los planos del proyecto."
        workerImageUrl="assets/images/img-employee-jonathan-paysano.webp"
      />
      <app-team-worker-card
        workerName="Diego alvarado"
        roleName="Técnico en refrigeración"
        roleDescription="Ejecuta instalaciones de sistemas y ducterías, siguiendo especificaciones técnicas y garantizando un trabajo preciso."
        workerImageUrl="assets/images/img-employee-diego-alvarado.webp"
      />
      <app-team-worker-card
        workerName="steven venegas"
        roleName="Ayudante"
        roleDescription="Colabora en campo con la preparación de materiales y apoyo directo en procesos técnicos durante las instalaciones."
        workerImageUrl="assets/images/img-employee-steven-venegas.webp"
      />
      <app-team-worker-card
        workerName="Joushua retana"
        roleName="Técnico en aire acondicionado"
        roleDescription="Instala sistemas de climatización, apoya en pruebas de funcionamiento y asegura una correcta ejecución técnica."
        workerImageUrl="assets/images/img-employee-joushua-retana.webp"
      />
      <app-team-worker-card
        workerName="marco gonzález"
        roleName="Técnico de soporte"
        roleDescription="Asiste en la instalación de equipos y ductos, colaborando con el equipo técnico en tareas específicas de cada proyecto."
        workerImageUrl="assets/images/img-employee-marco-gonzalez.webp"
      />
    </div>
  </div>
  <img
    class="team-section-decorator"
    src="assets/images/img-triangle-rectangle-sky.svg"
    alt="Decorador de sección"
  />
</section>
